<aside>
    <ul>
        <li class="aside-ul-li-1">EXTENSIONES</li>
        <li class="aside-ul-li-x"><a href="">RAR</a></li>
        <li class="aside-ul-li-x"><a href="">EXE</a></li>
        <li class="aside-ul-li-x"><a href="">JPG</a></li>
        <li class="aside-ul-li-x"><a href="">PDF</a></li>
    </ul>
</aside>