<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileDown - 404</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    {{> bootstrap }}
</head>
<body>
    {{> nav }}
    <div class="container">
        {{> aside }}
        <main>
            <span class="span-404">⚠️ El recurso solicitado no existe ⛔</span>
        </main>
    </div>
</body>
</html>