<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileDown - Contacto</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
    {{> nav }}

    {{> aside }}

    <form action="/enviar" method="post" class="contact-form" align="center">
        <label for="nombre">Nombre</label><br>
        <input type="text" name="nombre" class="input-text" maxlength="25"><br>
        <label for="correo">Correo electrónico</label><br>
        <input type="email" name="correo" class="input-text" maxlength="50"><br>
        <label for="mensaje">Mensaje</label><br>
        <textarea name="mensaje" class="input-text" cols="30" rows="10" maxlength="200" placeholder="Si tiene alguna consulta que realizarnos, pedidos o enlaces rotos, puede contactarnos en este formulario"></textarea><br>
        <button type="submit" class="btn-form">Enviar</button>
    </form>
</body>
</html>